@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RentLuxCar</title>
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="Content/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/responsive.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100" />

</head>

<div class="main-page-wrapper">

	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>



	<!--
	=============================================
		Theme Header Two
	==============================================
	-->
	<header class="header-two">

		<div class="theme-menu-wrapper">
			<div class="container">
				<div class="bg-wrapper clearfix">
					<div class="logo float-left"><a href="index.html"><img class="logmer" src="images\logo\Logo.png" alt=""></a></div>
					<!-- ============== Menu Warpper ================ -->
					<div class="menu-wrapper float-left">
						<nav id="mega-menu-holder" class="clearfix">
							<ul class="clearfix">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">Sobre nós</a></li>
								<li><a href="team.html">Equipa</a></li>
								<li><a href="service.html">Carros</a></li>
								<li>
									<a href="#">Blog</a>
									<ul class="dropdown">
										<li><a href="blog.html">Blog Left Sidebar</a></li>
										<li><a href="blog-r.html">Blog Right Sidebar</a></li>
										<li><a href="blog-details.html">Blog Post</a></li>
									</ul>
								</li>
								<li>
									<a href="contact.html">Contacte-nos</a>

								</li>

							</ul>
						</nav> <!-- /#mega-menu-holder -->
					</div> <!-- /.menu-wrapper -->
					<div style="padding: 30px; "><img src="images\icon\usericon.png" alt="User Icon" style="width: 40px; height: 40px; "></div>
				</div> <!-- /.bg-wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.theme-menu-wrapper -->
	</header>  <!-- /.header-one -->
	<!--
	=============================================
		About Company Stye Two
	==============================================
	-->
	<div class="about-compnay-two no-bg section-spacing">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12 text order-lg-last">
						<div class="theme-title-one">
							<h2>Pequena história</h2>
						</div> <!-- /.theme-title-one -->
						<p>A RentLuxCar é uma empresa de aluguer de automóveis de luxo, fundada em 2018 por dois empreendedores visionários, Daniel Nunes e Tiago Pereira.</p>
						<p>Amigos de longa data e apaixonados por automóveis de alta gama, ambos compartilhavam o sonho de criar um negócio que oferecesse uma experiência exclusiva para os clientes que buscavam conforto, sofisticação e performance em suas viagens.</p>

					</div> <!-- /.col- -->
					<div class="col-lg-6 col-12 order-lg-first">
						<img src="images\logo\Logo.png" alt="" class="left-img">
					</div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.overlay -->
	</div> <!-- /.about-compnay-two -->
	<!--
	=====================================================
		Why We Best
	=====================================================
	-->
	<div class="why-we-best">
		<div class="overlay">
			<div class="container">
				<div class="theme-title-one">
					<h2>Somos os melhores</h2>
					<p></p>
				</div> <!-- /.theme-title-one -->

				<div class="wrapper row no-gutters">
					<div class="col-lg-6 col-12 order-lg-last"><div class="img-box"></div></div>
					<div class="col-lg-6 col-12 order-lg-first">
						<ul class="best-list-item">
							<li>
								<img src="images/icon/data-report.svg" class="icon">
								<h5><a href="#">Melhor satisfação</a></h5>

							</li>
							<li>
								<img src="images/icon/commissions.svg" class="icon">
								<h5><a href="#">Melhor qualidade de serviço</a></h5>
							</li>
							<li>
								<img src="images/icon/customer-service.svg" class="icon">
								<h5><a href="#">Suporte amigavel e de pronridão de resposta</a></h5>
							</li>
						</ul>
					</div> <!-- /.col- -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.overlay -->
	</div> <!-- /.why-we-best -->
	<!--
	=====================================================
		Theme Counter
	=====================================================
	-->
	<div class="theme-counter-two section-spacing">


		<div class="cunter-wrapper">


			<p>
				A ideia surgiu durante uma viagem pela Europa, onde observaram o crescimento da demanda por serviços de mobilidade de luxo, especialmente entre executivos, turistas de alto nível e celebridades. Inspirados pelo potencial do mercado, decidiram unir suas paixões e experiências para criar uma empresa que se destacasse pela qualidade do serviço e pelos veículos de prestígio.<br>
				Daniel Nunes, com formação em administração de empresas, trouxe uma visão estratégica para o negócio, cuidando de toda a parte operacional e de gestão. Ele já havia trabalhado no setor automotivo e possuía uma sólida rede de contatos, o que facilitou o acesso aos melhores fornecedores e veículos premium. Por outro lado, Tiago Pereira, especialista em marketing e branding, foi o responsável por criar a identidade de luxo da marca, desenvolvendo uma imagem sofisticada e um serviço focado na excelência do atendimento ao cliente.
				<br> RentLuxCar rapidamente se destacou no mercado português, com uma frota de veículos de marcas renomadas, como Ferrari, Lamborghini, Mercedes-Benz, Porsche e Tesla. A empresa não se limitou a oferecer apenas veículos de luxo, mas também serviços personalizados, como motoristas particulares, pacotes para eventos especiais e soluções sob medida para clientes corporativos.
			</p>


		</div> <!-- /.cunter-wrapper -->


	</div> <!-- /.theme-counter -->
