@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RentLuxCar</title>
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="Content/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/responsive.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100" />

</head>


<div class="main-page-wrapper">

	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>



	<!--
	=============================================
		Theme Header Two
	==============================================
	-->
	<header class="header-two">

		<div class="theme-menu-wrapper">
			<div class="container">
				<div class="bg-wrapper clearfix">
					<div class="logo float-left"><a href="index.html"><img class="logmer" src="images\logo\Logo.png" alt=""></a></div>
					<!-- ============== Menu Warpper ================ -->
					<div class="menu-wrapper float-left">
						<nav id="mega-menu-holder" class="clearfix">
							<ul class="clearfix">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">Sobre nós</a></li>
								<li><a href="team.html">Equipa</a></li>
								<li><a href="service.html">Carros</a></li>
								<li>
									<a href="#">Blog</a>
									<ul class="dropdown">
										<li><a href="blog.html">Blog Left Sidebar</a></li>
										<li><a href="blog-r.html">Blog Right Sidebar</a></li>
										<li><a href="blog-details.html">Blog Post</a></li>
									</ul>
								</li>
								<li>
									<a href="contact.html">Contacte-nos</a>

								</li>

							</ul>
						</nav> <!-- /#mega-menu-holder -->
					</div> <!-- /.menu-wrapper -->
					<div style="padding: 30px; "><img src="images\icon\usericon.png" alt="User Icon" style="width: 40px; height: 40px; "></div>
				</div> <!-- /.bg-wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.theme-menu-wrapper -->
	</header>  <!-- /.header-one -->
	<!--
	=============================================
		Our Blog
	==============================================
	-->
	<div class="our-blog section-spacing">
		<div class="container">
			<div class="row margintop-70">
				<div class="col-xl-9 col-lg-8 col-12">
					<div class="post-wrapper blog-details">
						<div class="single-blog">
							<div class="image-box">
								<img src="images/blog/post-1.jpg" alt="">
								<div class="overlay"><a href="#" class="date">May 14, 2022</a></div>
							</div> <!-- /.image-box -->
							<div class="post-meta">
								<h5 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et. Aliquam ultrices sagittis orci a scelerisque purus. Vulputate mi sit amet mauris commodo quis. Tellus at urna condimentum mattis. Id consectetur purus ut faucibus pulvinar elementum integer. </p>
								<p>A iaculis at erat pellentesque adipiscing commodo elit at. Turpis egestas integer eget aliquet. Eleifend donec pretium vulputate sapien nec. Diam in arcu cursus euismod quis viverra nibh cras pulvinar.</p>
								<p>In ante metus dictum at tempor commodo ullamcorper a lacus. Eget aliquet nibh praesent tristique magna sit amet purus. In nulla posuere sollicitudin aliquam. Eu consequat ac felis donec et. Urna molestie at elementum eu facilisis sed odio morbi quis. </p>
								<p>Netus et malesuada fames ac turpis egestas. Viverra orci sagittis eu volutpat. Porta lorem mollis aliquam ut porttitor. Sed euismod nisi porta lorem mollis aliquam ut porttitor leo. Est ullamcorper eget nulla facilisi etiam dignissim diam. Id diam maecenas ultricies mi. Arcu cursus euismod quis viverra. Morbi tristique senectus et netus et malesuada fames ac. Vel turpis nunc eget lorem dolor sed viverra. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Faucibus in ornare quam viverra.</p>
								<p>Varius morbi enim nunc faucibus a pellentesque sit. Quisque non tellus orci ac. Purus sit amet luctus venenatis lectus magna. In cursus turpis massa tincidunt dui ut. Facilisi cras fermentum odio eu feugiat. Iaculis nunc sed augue lacus viverra vitae. </p>
							</div> <!-- /.post-meta -->
							<div class="share-option clearfix">
								<ul class="tag-meta float-left">
									<li><i class="fa fa-tags" aria-hidden="true"></i> Tags :</li>
									<li><a href="#">Lorem ipsum,</a></li>
									<li><a href="#">Concepturing,</a></li>
									<li><a href="#">Faucibus</a></li>
								</ul>
								<ul class="social-icon float-right">
									<li><i class="fa fa-share-alt" aria-hidden="true"></i> Share :</li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.share-option -->
						</div> <!-- /.single-blog -->
					</div> <!-- /.post-wrapper -->
					<!-- ==================== Comment Area ================= -->
					<div class="inner-box comment-area">
						<div class="theme-title-one">
							<h2>COMMENTS(02)</h2>
						</div> <!-- /.theme-title-one -->
						<div class="single-comment clearfix">
							<img src="images/blog/comment-1.jpg" alt="" class="float-left">
							<div class="comment float-left">
								<h6>Lourance Jordan</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et.</p>
								<a href="#">REPLY</a>
							</div> <!-- /.comment -->
						</div> <!-- /.single-comment -->
						<div class="single-comment clearfix">
							<img src="images/blog/comment-2.jpg" alt="" class="float-left">
							<div class="comment float-left">
								<h6>Lia Percucci</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et.</p>
								<a href="#">REPLY</a>
							</div> <!-- /.comment -->
						</div> <!-- /.single-comment -->
					</div> <!-- /.inner-box -->
					<!-- ==================== Comment Form ================= -->
					<div class="inner-box comment-form">
						<div class="theme-title-one">
							<h2>POST A COMMENTS</h2>
						</div> <!-- /.theme-title-one -->
						<form action="#" class="theme-form-one">
							<div class="row">
								<div class="col-md-6 col-12"><input type="text" placeholder="Name"></div>
								<div class="col-md-6 col-12"><input type="text" placeholder="Phone"></div>
								<div class="col-12"><input type="email" placeholder="Email"></div>
								<div class="col-12"><textarea placeholder="Comments"></textarea></div>
							</div>
							<button class="theme-button-one">POST COMMENT</button>
						</form>
					</div> <!-- /.inner-box -->
				</div>
				<!-- ===================== Blog Sidebar ==================== -->
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="sidebar-container sidebar-search">
						<form action="#">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div> <!-- /.sidebar-search -->
					<div class="sidebar-container sidebar-categories">
						<h5 class="title">Categories</h5>
						<ul>
							<li><a href="#">Facilisi Cras</a></li>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Sed Faucibus</a></li>
							<li><a href="#">Varius Morbi Enim</a></li>
							<li><a href="#">Viverra Aliquet Eget</a></li>
						</ul>
					</div> <!-- /.sidebar-categories -->
					<div class="sidebar-container sidebar-recent-post">
						<h5 class="title">Recent Posts</h5>
						<ul>
							<li class="clearfix">
								<img src="images/blog/recent-1.jpg" alt="" class="float-left">
								<div class="post float-left">
									<a href="blog-details.html">Varius morbi enim nunc faucibus a sit.</a>
									<div class="date">18 minutes ago</div>
								</div>
							</li>
							<li class="clearfix">
								<img src="images/blog/recent-2.jpg" alt="" class="float-left">
								<div class="post float-left">
									<a href="blog-details.html">Sed faucibus turpis in eu mi bibendum.</a>
									<div class="date">3 days ago</div>
								</div>
							</li>
							<li class="clearfix">
								<img src="images/blog/recent-3.jpg" alt="" class="float-left">
								<div class="post float-left">
									<a href="blog-details.html">Mollis nunc sed id semper risus in.</a>
									<div class="date">2 month ago</div>
								</div>
							</li>
						</ul>
					</div>  <!-- /.sidebar-archives -->
					<div class="sidebar-tags">
						<h5 class="title">tags</h5>
						<ul class="clearfix">
							<li><a href="#">Lorem ipsum</a></li>
							<li><a href="#">Consectetur</a></li>
							<li><a href="#">Vulputate</a></li>
							<li><a href="#">Aliquam</a></li>
							<li class="active"><a href="#">Adipiscing</a></li>
							<li><a href="#">Netus</a></li>
							<li><a href="#">Viverra</a></li>
							<li><a href="#">Faucibus</a></li>
						</ul>
					</div> <!-- /.sidebar-tags -->
				</div> <!-- /.col- -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.blog-details -->
