@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <main>
        <section class="login-section">
            <div class="container">
                <h1>Iniciar Sessão</h1>
                <form action="login_process.php" method="post">
                    <label for="username">Nome de Usuário:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Entrar</button>
                </form>
                <p>Ainda não tem uma conta? <a href="@Url.Action("Index", "Clientes")">Registre-se aqui</a>.</p>
            </div>
        </section>
    </main>
</body>