@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RentLuxCar</title>
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="Content/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/responsive.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100" />

</head>


<div class="main-page-wrapper">

	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>



	<!--
	=============================================
		Theme Header One
	==============================================
	-->
	<header class="header-two">
		<div class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-8 col-12">
						<ul class="left-widget">
							<li>Phone: +1 (745) 956 1234</li>
							<li>
								<div id="polyglotLanguageSwitcher">
									<form action="#">
										<select id="polyglot-language-options">
											<option id="en" value="en" selected>English</option>
											<option id="fr" value="fr">French</option>
											<option id="de" value="de">German</option>
											<option id="it" value="it">Italian</option>
											<option id="es" value="es">Spanish</option>
										</select>
									</form>
								</div> <!-- End #polyglotLanguageSwitcher -->
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-4 col-12">
						<ul class="social-icon">
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.top-header -->
		<!--
		=============================================
			Theme Header Two
		==============================================
		-->
		<header class="header-two">

			<div class="theme-menu-wrapper">
				<div class="container">
					<div class="bg-wrapper clearfix">
						<div class="logo float-left"><a href="index.html"><img class="logmer" src="images\logo\Logo.png" alt=""></a></div>
						<!-- ============== Menu Warpper ================ -->
						<div class="menu-wrapper float-left">
							<nav id="mega-menu-holder" class="clearfix">
								<ul class="clearfix">
									<li class="active"><a href="index.html">Home</a></li>
									<li><a href="about.html">Sobre nós</a></li>
									<li><a href="team.html">Equipa</a></li>
									<li><a href="service.html">Carros</a></li>
									<li>
										<a href="#">Blog</a>
										<ul class="dropdown">
											<li><a href="blog.html">Blog Left Sidebar</a></li>
											<li><a href="blog-r.html">Blog Right Sidebar</a></li>
											<li><a href="blog-details.html">Blog Post</a></li>
										</ul>
									</li>
									<li>
										<a href="contact.html">Contacte-nos</a>

									</li>

								</ul>
							</nav> <!-- /#mega-menu-holder -->
						</div> <!-- /.menu-wrapper -->
						<div style="padding: 30px; "><img src="images\icon\usericon.png" alt="User Icon" style="width: 40px; height: 40px; "></div>
					</div> <!-- /.bg-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.theme-menu-wrapper -->
		</header>  <!-- /.header-one -->
		<!--
		=============================================
			Our Blog
		==============================================
		-->
		<div class="blog-inner-page section-spacing">
			<div class="container">

				<div class="row margintop-70">
					<div class="col-xl-9 col-lg-8 col-12 our-blog">
						<div class="post-wrapper">
							<div class="single-blog">
								<div class="image-box">
									<img src="images/blog/post-1.jpg" alt="">
									<div class="overlay"><a href="#" class="date">Feb 06, 2018</a></div>
								</div> <!-- /.image-box -->
								<div class="post-meta">
									<h5 class="title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et. </p>
									<a href="blog-details.html" class="read-more">READ MORE</a>
								</div> <!-- /.post-meta -->
							</div> <!-- /.single-blog -->
							<div class="single-blog">
								<div class="image-box">
									<img src="images/blog/post-2.jpg" alt="">
									<div class="overlay"><a href="#" class="date">Mar 23, 2018</a></div>
								</div> <!-- /.image-box -->
								<div class="post-meta">
									<h5 class="title"><a href="blog-details.html">In ante metus dictum at tempor commodo ullamcorper.</a></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et.</p>
									<a href="blog-details.html" class="read-more">READ MORE</a>
								</div> <!-- /.post-meta -->
							</div> <!-- /.single-blog -->
							<div class="single-blog">
								<div class="image-box">
									<img src="images/blog/post-4.jpg" alt="">
									<div class="overlay"><a href="#" class="date">Mar 23, 2018</a></div>
								</div> <!-- /.image-box -->
								<div class="post-meta">
									<h5 class="title"><a href="blog-details.html">Sed faucibus turpis in eu mi bibendum sit amet porttitor.</a></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At consectetur lorem donec massa sapien faucibus et.</p>
									<a href="blog-details.html" class="read-more">READ MORE</a>
								</div> <!-- /.post-meta -->
							</div> <!-- /.single-blog -->
						</div> <!-- /.post-wrapper -->
						<div class="theme-pagination">
							<ul>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- ===================== Blog Sidebar ==================== -->
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
						<div class="sidebar-container sidebar-search">
							<form action="#">
								<input type="text" placeholder="Search...">
								<button><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</div> <!-- /.sidebar-search -->
						<div class="sidebar-container sidebar-categories">
							<h5 class="title">Categories</h5>
							<ul>
								<li><a href="#">Facilisi Cras</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Sed Faucibus</a></li>
								<li><a href="#">Varius Morbi Enim</a></li>
								<li><a href="#">Viverra Aliquet Eget</a></li>
							</ul>
						</div> <!-- /.sidebar-categories -->
						<div class="sidebar-container sidebar-recent-post">
							<h5 class="title">Recent Posts</h5>
							<ul>
								<li class="clearfix">
									<img src="images/blog/recent-1.jpg" alt="" class="float-left">
									<div class="post float-left">
										<a href="blog-details.html">Varius morbi enim nunc faucibus a sit.</a>
										<div class="date">18 minutes ago</div>
									</div>
								</li>
								<li class="clearfix">
									<img src="images/blog/recent-2.jpg" alt="" class="float-left">
									<div class="post float-left">
										<a href="blog-details.html">Sed faucibus turpis in eu mi bibendum.</a>
										<div class="date">3 days ago</div>
									</div>
								</li>
								<li class="clearfix">
									<img src="images/blog/recent-3.jpg" alt="" class="float-left">
									<div class="post float-left">
										<a href="blog-details.html">Mollis nunc sed id semper risus in.</a>
										<div class="date">2 month ago</div>
									</div>
								</li>
							</ul>
						</div>  <!-- /.sidebar-archives -->
						<div class="sidebar-tags">
							<h5 class="title">tags</h5>
							<ul class="clearfix">
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Consectetur</a></li>
								<li><a href="#">Vulputate</a></li>
								<li><a href="#">Aliquam</a></li>
								<li class="active"><a href="#">Adipiscing</a></li>
								<li><a href="#">Netus</a></li>
								<li><a href="#">Viverra</a></li>
								<li><a href="#">Faucibus</a></li>
							</ul>
						</div> <!-- /.sidebar-tags -->
					</div> <!-- /.col- -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.blog-inner-page -->
