<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RentLuxCar</title>
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="Content/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/responsive.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100" />

</head>
<body>
	<header class="header-two">
		<div class="theme-menu-wrapper">
			<div class="container">
				<div class="bg-wrapper clearfix">
					<div class="logo float-left"><a href="index.html"><img class="logmer" src="Content/images/logo/Logo.png" alt=""></a></div>
					<!-- ============== Menu Warpper ================ -->
					<div class="menu-wrapper float-left">
						<nav id="mega-menu-holder" class="clearfix">
							<ul class="clearfix">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="About.html">Sobre nós</a></li>
								<li><a href="team.html">Equipa</a></li>
								<li><a href="service.html">Carros</a></li>
								<li>
									<a href="#">Blog</a>
									<ul class="dropdown">
										<li><a href="@Url.Action("Blog", "Blog")"> Blog Left Sidebar</a></li>
										<li><a href="@Url.Action("Blogr", "Blog-r")">Blog Right Sidebar</a></li>
										<li><a href="@Url.Action("Blogdetails", "Blog-details")">Blog Post</a></li>
									</ul>
								</li>
								<li>
									<a href="contact.html">Contacte-nos</a>

								</li>

							</ul>
						</nav> <!-- /#mega-menu-holder -->
					</div> <!-- /.menu-wrapper -->
					<div style="padding: 30px; "><img src="Content/images/icon/usericon.png" alt="User Icon" style="width: 40px; height: 40px; "></div>
				</div> <!-- /.bg-wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.theme-menu-wrapper -->
	</header>
<div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
</div>

	<footer class="theme-footer-two">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-6 col-12 logo-widget">
						<div class="logo"><a href="index.html"><img class="logmer" src="Content/images/logo/Logo.png" alt=""></a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<ul class="social-icon">
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div> <!-- /.logo-widget -->
					<div class="col-lg-2 col-sm-6 col-12 footer-list">
						<h6 class="title">EXPLORE</h6>
						<ul>
							<li><a href="about.html">Lorem Ipsum</a></li>
							<li><a href="service.html">Sit Ametus</a></li>
							<li><a href="project.html">Consectetur</a></li>
							<li><a href="blog.html">Adipiscing</a></li>
							<li><a href="contact.html">Incididunt Ut</a></li>
						</ul>
					</div> <!-- /.footer-list -->


					<div class="col-lg-3 col-sm-6 col-12 contact-widget">
						<h6 class="title">CONTACT</h6>
						<ul>
							<li>
								<i class="flaticon-direction-signs"></i>
								995, Gerogia str., Washington DC, United States.
							</li>
							<li>
								<i class="flaticon-multimedia-1"></i>
								<a href="#">info@yoursupport.com</a>
							</li>
							<li>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<a href="#">+1 747 123 4567</a>
							</li>
						</ul>
					</div> <!-- /.contact-widget -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.top-footer -->
		<div class="bottom-footer">
			<div class="container">
				<p>WebDev &copy; Copyrights 2022 / <a class="white-link" href="https://gridgum.com">Free Website Templates</a> / All Rights Reserved. </p>
			</div>
		</div> <!-- /.bottom-footer -->
	</footer> <!-- /.theme-footer-two -->
	<!-- Scroll Top Button -->
	<button class="scroll-top tran3s">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</button>



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- jQuery -->
	<script src="~/lib/bootstrap_nedda/vendor/jquery.2.2.3.min.js"></script>
	<!-- Popper js -->
	<script src="~/lib/bootstrap_nedda/vendor/popper.js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/lib/bootstrap_nedda/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Camera Slider -->
	<script src='~/lib/bootstrap_nedda/vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	<script src='~/lib/bootstrap_nedda/vendor/Camera-master/scripts/jquery.easing.1.3.js'></script>
	<script src='~/lib/bootstrap_nedda/vendor/Camera-master/scripts/camera.min.js'></script>
	<!-- menu  -->
	<script src="~/lib/bootstrap_nedda/vendor/menu/src/js/jquery.slimmenu.js"></script>
	<!-- WOW js -->
	<script src="~/lib/bootstrap_nedda/vendor/WOW-master/dist/wow.min.js"></script>
	<!-- owl.carousel -->
	<script src="~/lib/bootstrap_nedda/vendor/owl-carousel/owl.carousel.min.js"></script>
	<!-- js count to -->
	<script src="~/lib/bootstrap_nedda/vendor/jquery.appear.js"></script>
	<script src="~/lib/bootstrap_nedda/vendor/jquery.countTo.js"></script>
	<!-- Fancybox -->
	<script src="~/lib/bootstrap_nedda/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
	<!-- Language Stitcher -->
	<script src="~/lib/bootstrap_nedda/vendor/language-switcher/jquery.polyglot.language.switcher.js"></script>
	<!-- Google map js -->
	<!-- Theme js -->
	<script src="js/theme.js"></script>
	<!--<script src="js/map-script.js"></script> -->
	<script src="https://maps.googleapis.com/maps/api/js?key=Past Your Google Map Key Here"></script>
	<script src="js/googlemap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

 </body>
</html>
