@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RentLuxCar</title>
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="Content/images/fav-icon/icon.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap_nedda/css/responsive.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100" />

</head>

	<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<!-- 
			=============================================
				Theme Header Two
			============================================== 
			-->
			<header class="header-two">

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<div class="logo float-left"><a href="index.html"><img class="logmer" src="images\logo\Logo.png" alt=""></a></div>
							<!-- ============== Menu Warpper ================ -->
							<div class="menu-wrapper float-left">
								<nav id="mega-menu-holder" class="clearfix">
									<ul class="clearfix">
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="about.html">Sobre nós</a></li>
										<li><a href="team.html">Equipa</a></li>
										<li><a href="service.html">Carros</a></li>
										<li><a href="#">Blog</a>
											<ul class="dropdown">
												<li><a href="blog.html">Blog Left Sidebar</a></li>
												<li><a href="blog-r.html">Blog Right Sidebar</a></li>
												<li><a href="blog-details.html">Blog Post</a></li>
											</ul>
										</li>
										<li>
											<a href="contact.html">Contacte-nos</a>
											
										</li>
										
									</ul>
								</nav> <!-- /#mega-menu-holder -->
							</div> <!-- /.menu-wrapper --> 	
							<div style="padding: 30px; "><img src="images\icon\usericon.png" alt="User Icon" style="width: 40px; height: 40px; "></div>
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header>  <!-- /.header-one -->

			


			<!-- 
			=============================================
				Our Solution
			============================================== 
			-->
			<div class="our-solution section-spacing">
				<div class="container">
					<div class="theme-title-one margintop-70">
						<h2>Os nosso carros</h2>
					</div> <!-- /.theme-title-one -->
					<div class="card" style="width: 18rem; margin: 20px;">
						<img class="card-img-top" src="images\Cars\ferrari_f40.jpg" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Ferrari F40</h5>
						  <p class="card-text">O meu deste carro está na robustes do seu motor , na linhas clássicas da ferrari.O importante é sentir a experiencia da sua potencia.</p>
						</div>
						<ul class="list-group list-group-flush" style="text-align: center;">
						  <li class="list-group-item">Motor:Twin-turbocharged 2.9L V8</li>
						  <li class="list-group-item">Cavalagem:471 hp a 7,000 rpm</li>
						  <li class="list-group-item">Torque:426 lb-ft a 4,000 rpm</li>
						  <li class="list-group-item"> 50 000€/dia</li>
						</ul>
						<div class="card-body">
						  <a href="#" class="card-link">Alugar</a>
						  <a href="#" class="card-link">Mais sobre o carro</a>
						</div>
					  </div><br><br>
					
				</div> <!-- /.container -->
			</div> <!-- /.our-solution -->
			

			
			<!-- 
			=============================================
				Feature Banner
			============================================== 
			-->
			<div class="feature-banner section-spacing">
				<div class="opacity">
					<div class="container">
						<h2>Tincidunt nunc pulvinar sapien et. At tellus at urna condimentum mattis pellentesque id.</h2>
						<a href="#" class="theme-button-one">LOREM IPSUM</a>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.feature-banner -->


			<!--
			=====================================================
				Free Consultation
			=====================================================
			-->
			<div class="consultation-form section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Consectetur Adipiscing</h2>
						<p>Consectetur adipiscing elit pellentesque habitant. Eu mi bibendum neque egestas congue quisque egestas diam.</p>
					</div> <!-- /.theme-title-one -->
					<div class="clearfix main-content no-gutters row">

						<div class="col-xl-6 col-lg-7 col-12">
							<div class="form-wrapper">
								<form action="#" class="theme-form-one">
									<div class="row">
										<div class="col-md-6"><input type="text" placeholder="Name, Lastname *"></div>
										<div class="col-md-6"><input type="text" placeholder="Mobile Phone *"></div>
										<div class="col-md-6"><input type="email" placeholder="Email Address *"></div>
										<div class="col-md-6">
											<select class="form-control" id="exampleSelect1">
												<option>Choose Your Service</option>
												<option>Lorem Ipsum</option>
												<option>Consectetur</option>
												<option>Pellentesque Erat</option>
												<option>Tempor Incididun</option>
											</select>
										</div>
										<div class="col-12"><textarea placeholder="Message"></textarea></div>
									</div> <!-- /.row -->
									<button class="theme-button-one">LOREM IPSUM</button>
								</form>
							</div> <!-- /.form-wrapper -->
						</div> <!-- /.col- -->
						<div class="col-xl-6 col-lg-5 col-12"><img src="images/consultation.jpg" ></div>
					</div> <!-- /.main-content -->
				</div> <!-- /.container -->
			</div> <!-- /.consultation-form -->