@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container-contact">
        <main>
            <section class="">

                <h1>Contactenos</h1>
                <p>Endereço: Rua dos Luxos, 123, Lisboa</p>
                <p>Telefone: +351 123 456 789</p>
                <p>Email: contato@rentluxcar.pt</p>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.4019050546677!2d-8.637908584759977!3d38.72225207959625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a1c7f36af%3A0x8b4915f7d25db3e5!2sLisboa!5e0!3m2!1sen!2spt!4v1632323232323!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


            </section>
        </main>
        <main>
            <section class="login-section">
                <div class="container">
                    <h1>Contacte-nos</h1>
                    <form class="container-contact" action="" method="post">
                        <label for="username">Nome de Usuário:</label>
                        <input type="text" id="username" name="username" required>
                        <label for="subject">Assunto</label>
                        <input type="subject" id="subject" name="subject" required>
                        <label for="text">Texto</label>
                        <input type="text" id="text" name="text" required>
                        <button type="submit-email">Enviar</button>
                    </form>
                    <p>Ainda não tem uma conta? <a href="register.html">Registre-se aqui</a>.</p>
                </div>
            </section>
        </main>
    </div>
</body>